      .first_heading h1 {
        color:rgb(92,92,177);
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 40px;
        padding-left: 170px;
        padding-top: 150px;
        margin: 0;
        text-align: left
      }
      .first_heading h2 {
        color:rgb(26,26,108);
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        padding-left: 170px;
        line-height: 60px;
        font-size: 50px;
        margin: 0;
        text-align: left
      }
      .first_heading p {
        font-family: 'Raleway', sans-serif;
        padding-left: 170px;
        font-size: 20px;
        color:rgb(6, 98, 123);
      }
      .learn {
        position: absolute;
        top: 1px;
        left: 8Px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
      .practice {
        position: absolute;
        top: 3px;
        left: 230Px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
      .mentorships {
        position: absolute;
        top: 3px;
        left: 400Px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
      .compete {
        position: absolute;
        top: 200px;
        left: 8Px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
      .jobs {
        position: absolute;
        top: 200px;
        left: 230Px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
      .blogs {
        position: absolute;
        top: 200px;
        left: 450px;
        font-family: 'Raleway', sans-serif;
        font-size: 20PX;
      }
.first_row {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
}
.second_row {
    display: flex;
    gap: 20px;
}
.img {
    position: absolute;
    right: 185px;
    bottom: 150px;
    border-radius: 10px;
}
.line_2 {
    position: absolute;
    width: 100%;
    bottom: 75px;
    
}
.company {
  padding-top: 150px;
  display: flex;
  gap: 20px;
}
.second_heading h1 {
  color:rgb(92,92,177);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 25px;
  padding-top: 200px;
  padding-left: 25px;
  margin:0;
  text-align: left
}
.second_heading h2 {
  color:rgb(26,26,108);
  font-family: 'Raleway', sans-serif;
  padding-left: 40px;
  font-weight: 900;
  font-size: 20px;
  margin:0;
  text-align: left
}
.company {
  position: absolute;
    left: 250px;
    top: 525px;
}
.skill_img {
     padding-top: 100px;
     padding-left: 180px;
     display: flex;
     gap: 30px;
}
.third_heading h1 {
  color:rgb(26,26,108);
        font-family: "Inter",sans-serif;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 180px;
        font-size: 32px;
}
.third_heading p {
    color:rgb(64,47,112);
    font-family: 'Raleway', sans-serif;
    font-weight: 80;
    padding-left: 180px;
}
.compete_img {
  padding-top: 20px;
  padding-left: 120px;
  display: flex;
  gap: 25px;
}
.fourth_heading {
    color:rgb(26,26,108);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 170px;
    line-height: 60px;
    font-size: 36px;
    margin: 0;
    text-align: left
}
.unstop_logo {
  padding-top: 20px;
  padding-left:45%;
}
  .vl {
    border-left: 1px solid gray;
    height: 40px;
    position: absolute;
    left: 19%;
    margin-left: -3px;
    top: 10px;
  }
  .unstop {
    padding-left: 170px;
  }
  .inserted h4{
    color:rgb(33, 76, 102);
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }
  .inserted h3 {
    color:rgb(26,26,108);
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }
  .five {
    position: absolute;
    top: 1350px;
    left: 140Px;
    font-family: 'Raleway', sans-serif;
  }
  .six {
    position: absolute;
    top: 1350px;
    left: 500Px;
    font-family: 'Raleway', sans-serif;
  }
  .seven {
    position: absolute;
    top: 1350px;
    left: 860Px;
    font-family: 'Raleway', sans-serif;
  }
  .eight {
    position: absolute;
    top: 1350px;
    left: 1220Px;
    font-family: 'Raleway', sans-serif;
  }
  .one {
    position: absolute;
    top: 1680px;
    left: 140Px;
    font-family: 'Raleway', sans-serif;
  }
  .two {
    position: absolute;
    top: 1680px;
    left: 500Px;
    font-family: 'Raleway', sans-serif;
  }
  .three {
    position: absolute;
    top: 1680px;
    left: 860Px;
    font-family: 'Raleway', sans-serif;
  }
  .four {
    position: absolute;
    top: 1680px;
    left: 1220Px;
    font-family: 'Raleway', sans-serif;
  }
.topnav {
  background-color: white;
  margin-top: 0px;
  padding-bottom: 5px;
 border-bottom: 0.5px solid grey;
 height: 60px;
 position: fixed;
width: 100%;
top: 0px;
z-index: 999;
}
.unstop {
  padding-left: 150px;
}
.vl {
  border-left: 1px solid gray;
  height: 40px;
  position: absolute;
  left: 19%;
  margin-left: -3px;
  top: 10px;
}
.former h5{
  position: absolute;
  left: 300px;
  top: 0px;
  color:rgb(92,92,177);
  font-family: 'Raleway', sans-serif;
}
.former h4{
  position: absolute;
  left: 300px;
  top: 13px;
  color:rgb(26,26,108);
  font-family: 'Raleway', sans-serif;
 }
 .search
 {
     height: 30px;
     background: white;
     /* border-width: 0px;
     border-radius: 8px; */
     height: 42px;
     background: white;
     border: 1px solid rgba(28,73,128,.1);
     /* /* border-radius: 8px; */
     width: 50vh; 
     padding-left: 10px;
     position: absolute;
     left: 550px;
     top : 15px;
 }
 .fa_book {
  font-size: 25px;
   margin-left:850px;
   position: absolute;
   top: 20px;
   display: flex;
   gap: 20px;
 }
 .host{
  height: 34px;
  border-radius: 50px;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  background: #dee5e7;
  padding : 0px 15px;
  margin-left: 1150px;
  margin-top: -15px;
  font-family: inherit;
  color: #33c7d1;
}
.text {
  margin: right 5px;
}
